/* Body */
body {
    background-image: url("./images/bacg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Nike content */
.nike-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Nike box */
.nike-box {
}